body {
    background-color: #efeee7;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 150%;
}

h1 {
    color: #efeee7;
    background-color: black;
    margin: 0;
    text-align: center;
    padding: 1em 0;
    font-size: 28px;
}

h2 {
    font-size: 24px;
}

/* Links */

a {
    color: teal;
}

a:hover {
    color: white;
    background-color: teal;
}

/* Sections and Containers */

#wrapper {
   display: flex;
   justify-content: space-around;
}

#main-bio {
    flex: 2;
    margin-left: 2em;
}
#contact-info {
    flex: 1;
}

/* Images */

#bio-image {
    width: 200px;
    height: 200px;
    margin-right: 1em;
    border: 5px solid teal;
    float: left;
}